{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/foundation/js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/foundation/js/foundation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/foundation/js/foundation/foundation.magellan.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/fastclick/lib/fastclick.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/app.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/app.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/app.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js'	%}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"> </script>
<script type="text/javascript" src="{% static 'javascripts/booking/booking.module.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>	
<script type="text/javascript" src="{% static 'javascripts/booking/services/booking.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/booking/directives/bookings.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/booking/controllers/booking.controller.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'javascripts/booking/directives/booking.directive.js' %}"></script>-->
<script type="text/javascript" src="{% static 'javascripts/booking/controllers/add-booking.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/profiles.module.js' %}"> </script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile.controller.js'	%}">
</script>
<script type="text/javascript" src="{% static 'javascripts/profiles/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile-settings.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/angular-yandex-map/ya-map-2.1.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/maps/maps.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/maps/controllers/maps.controller.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'javascripts/booking/controllers/view-booking.controller.js' %}"></script>
-->
