{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/foundation/css/foundation.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/foundation/css/normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />

